@charset "utf-8";

html,
body {
    font-size: 15px;
    color: #505050;
    font-family: 'Rubik', sans-serif;
    vertical-align: baseline;
    line-height: 25px;
    font-weight: 400;
    overflow-x: hidden;
}
p {
    margin: 0 0;
}
a {
    color: #04364e;
    transition: all 0.3s ease 0s;
    text-decoration: none !important;
    outline: none !important;
}
a:active,
a:hover {
    text-decoration: none;
    outline: 0 none;
    color: #242526;
}
ul {
    list-style: outside none none;
    margin: 0;
    padding: 0;
}
::-moz-selection {
    background: #04364e;
    text-shadow: none;
    color: #ffffff;
}
::selection {
    background: #04364e;
    text-shadow: none;
    color: #ffffff;
}


.pt-90 {
    padding-top: 90px !important;
}

/* ------------------------------------
02. Global CSS
---------------------------------------*/
.readon {
    position: relative;
    display: inline-block !important;
    background: #04364e;
    padding: 14px 30px;
    line-height: normal;
    color: #ffffff !important;
    transition: all 0.3s ease 0s;
    border-radius: 30px;
    text-transform: capitalize !important;
    cursor: pointer;
    box-shadow: 0 6px 30px rgba(0, 0, 0, 0.1);
    -ms-box-shadow: 0 6px 30px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 6px 30px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 6px 30px rgba(0, 0, 0, 0.1);
}
.readon:hover,
.readon:focus {
    background: #074a8d;
}

.inner{
    width:100%;
    float:left;
    position:relative;
}



.pricingTable .holder{
    background: #fff;
    box-shadow: 1px 20px 12px -15px rgba(0,0,0,0.2);
    padding: 61px 15px;;
    text-align: center;
    border: 1px solid rgba(0,0,0,0.05);
    transition:0.5s ease;
}

.pricingTable .holder:hover{
    transform:translateY(-5px);
    
}



.pricingTable .holder .hdng p{
    font-size:28px;
    font-weight:bold;
    color:#242526;
}

.pricingTable .holder .img img{
    width:70%;
}

.pricingTable .holder .price p{
    color:#04364e;
    margin-bottom:25px;    
}

.pricingTable .holder .price p b{
    font-size:40px;
    font-weight:bold;
}

.pricingTable .holder .price p span{
    font-size:18px;
}

.pricingTable .holder .info p{
    margin-bottom:15px;
    color:#242526;
    font-weight:14px;
    text-align: left;
    line-height: 18px;
}

.pricingTable .holder.active{
    background:#04364e;
}

.pricingTable .holder.active .hdng p,
.pricingTable .holder.active .price p,
.pricingTable .holder.active .info p{
    color:#fff;
}

.pricingTable .holder.active .readon{
    background:#fff;
    color:#04364e!important;
}

.pricingTable .holder.active .readon:hover{
    background:#285a97;
    color:#fff!important;
}

.pricingTable .tabsBtnHolder ul{
    float:left;
    display:block;
    width:100%;
    max-width:326px;   
    border-radius:1.6666666667rem;
    margin:0px auto;
    margin-bottom:40px; 
    padding-bottom: 10px;
    background:#04364e;
    text-align:center;
    position:relative;
}

.pricingTable .tabsBtnHolder ul li{
    width:calc(100% / 2);
    display:inline-block;
    transition:0.4s ease;
    margin-left: 21%;
    margin-right: 20%;
    margin-bottom: -2%;
    font-size: x-large;
}

.pricingTable .tabsBtnHolder ul li p{
    color:#fff;
    padding:10px 15px;
    z-index:10;
    position:relative;
    cursor:pointer;
}

.pricingTable .tabsBtnHolder ul li p.active{
    color:#ffffff;
}

.pricingTable .tabsBtnHolder ul li.indicator{
    position: absolute;
    top: 50%;
    left: 2px; /*163px*/
    background: #fff;
    height: calc(100% - 4px);
    transform: translateY(-50%);
    border-radius: 1.5333333333rem;
    width: 161px;
    z-index:9
}



.inactive{
    color: #bcb8b8!important;
}
.standar_plan{
    padding-bottom: 80px!important;
}
.premium_plan{
    padding-bottom: 85px!important;
}

@media only screen and (max-width: 600px) {
    .pricingTable .holder{
        margin-bottom: 20px;
    }
}

